<mat-card class="card">
  <mat-card-header>
    <mat-card-title>MyERP</mat-card-title>
    <mat-card-subtitle>Projeto PFC UFF</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/home-image.svg" alt="Image Home MyERP">
  <mat-card-content>
    <p>
      <br />Olá! Seja muito bem-vindo ao MyERP - Projeto de conclusão de final de curso. <br />
      
      <br />Estamos entusiasmados em tê-lo conosco nesta jornada rumo a um gerenciamento mais eficiente, seguro e inovador.<br /> 
      
      <br /> Sinta-se em casa e explore todas as funcionalidades pensadas para otimizar seus processos, proporcionar análises precisas e facilitar a comunicação entre equipes.<br />

      <br /> Que a experiência com o MyERP seja inspiradora e transformadora. Agradecemos sua confiança e estamos à disposição para ajudar no que for preciso.<br />

      <br /> Bem-vindo ao projeto do Yuri Romão
    </p>
  </mat-card-content>

</mat-card>