<div class="container">
  <h1>Listando Despesas</h1>

  <button
    routerLink="create"
    class="fullWidth mat-elevation-z8"
    mat-stroked-button
    color="primary">
    Nova Despesa
  </button>

  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. lavanderia" #input>
  </mat-form-field>

  <mat-radio-group color="primary">
    <mat-radio-button (click)="orderByStatus('PENDENTE')" value="PENDENTE">
      PENDENTE
    </mat-radio-button>
    <mat-radio-button (click)="orderByStatus('PAGO')" value="PAGO">
      PAGO
    </mat-radio-button>
    <mat-radio-button (click)="orderByStatus('ATRASADO')" value="ATRASADO">
      ATRASADO
    </mat-radio-button>
  </mat-radio-group>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element">{{ element.descricao }}</td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let element">
          {{ element.valor | currency:'BRL':'symbol':'1.2-2' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dataVencimento">
        <th mat-header-cell *matHeaderCellDef>Data Vencimento</th>
        <td mat-cell *matCellDef="let element">{{ element.dataVencimento }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          {{ retornaStatus(element.status) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="update/{{ element.id }}">
            <i class="material-icons edit">edit</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[2, 5, 10, 20, 50, 100]"
      [pageSize]="5"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
